# It definitely works with these,
# but I doubt that this is a proper requirements file
# Hopefully somebody fixes this. 
Django==1.10.4
Markdown==2.6.7
Pillow==3.4.2
django-auth-ldap==1.2.8
django-database-files==0.1
django-otp==0.3.8
django-tastypie==0.13.3
django-two-factor-auth==1.4.0
django-user-sessions==1.3.1
mimeparse==0.1.3
python-ldap==2.4.28
six==1.10.0
urldecode==0.1
keepassdb==0.2.1
db-backup==0.3.1
boto==2.43.0
celery==4.0.0
django-celery==4.0.0
importlib
paramiko==2.0.2
